:root {
    --main-font: 'Roboto', sans-serif;
    --main-color-font: #757575;
    --main-color: #E5E5E5;
    --secondary-color: #2196f3;  
}

body {
    font-family: var(--main-font);
    color: var(--main-color-font);
    background-color: var(--main-color);
    display: block;
    width: 1200px;
    margin: 0 auto;
}



.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container {
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1200px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

}

/*HEADER*/

.phone-mail,
.social-icons-list,
.pages,
.button-list,
.portfolio-list,
.services-list,
.work-list,
.team-list,
.address-list,
.clients-list {
    list-style: none;
    display: flex;
}

.main-header,
.portfolio-list>li {
    background-color: #FFF;
}

.main-header {
    display: flex;
    border-bottom: 1px solid #ECECEC;
}

.pages-item-portfolio,
.pages-item-agency-nd,
.pages-item-contact,
.logo-link {
    color: #212121;
}

.navigation {
    min-width: auto;
    display: flex;
}

.phone-mail {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
}

.phone-mail>li {
    height: 16px;
}

.mail-address {
    display: flex;
    height: 16px;
    margin: 0;
    margin-right: 40px;
    margin-left: auto;
    padding: 0;
}

.envelope,
.smartphone {
    height: 16px;
    margin-top: 0px;
    margin-right: 10px;
}

.smartphone-size {
    width: 10px;
    height: 16px;
}

.phone-number {
    display: flex;
    text-align: center;
    padding: 0 27px 0 0;
}

.pages {
    text-align: center;
    padding: 32px 0;
    margin: 0;
    margin-right: auto;
}

.pages-item-agency-nd,
.pages-item-agency {
    margin-right: 46px;
}

.pages-item-portfolio-nd,
.pages-item-portfolio {
    margin-right: 64px;
}

.footer,
.solutions-header {
    background-color: #2F303A;
}

.solutions-header{
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
     url('/images/background/header.jpg');
    padding-top: 200px;
    padding-bottom: 200px;
}

.button-order-service {
    width: 200px;
    align-self: flex-end;
    justify-self: center;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 41px;
    display: flex;
}

.third-header-services,
.description-services {
    width: 270px;
}

.link {
    text-decoration: none;
}

.logo-link {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  padding: 24px 0 25px;
  margin-right: 93px;
}


.phone-number,
.mail-address {
  
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--main-color-font);
  fill: var(--main-color-font);
}

.logo-link-web,
.pages-item-portfolio-nd,
.pages-item-agency,
.pages-item-agency-nd:hover,
.pages-item-agency-nd:focus,
.pages-item-portfolio:hover,
.pages-item-portfolio:focus,
.pages-item-contact:hover,
.pages-item-contact:focus,
.phone-number:hover,
.phone-number:focus,
.mail-address:hover,
.mail-address:focus {
  color: var(--secondary-color);
  fill: var(--secondary-color);
}

.button-no-response:hover,
.button-no-response:focus,
.button-response,
.button-order-service,
.button-order-service:active,
.button-order-service:hover,
.button-order-service:focus {
    background-color: var(--secondary-color);
    cursor: pointer;
}

/*END HEADER*/

/*SOLUTIONS*/

.footer-themes {
    color: rgba(255, 255, 255, 0.6);
    width: 231px;
}

.button-response,
.button-no-response,
.button-order-service {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    border-width: 0;
    border-radius: 4px;
}

.button-no-response {
    background-color: #F5F4FA;
    color: #212121;
}

.button-response,
.button-no-response {
    font-weight: 500;
    line-height: 1.625;
    letter-spacing: 0.03em;
}

.button-response:hover,:focus,
.button-no-response:hover,:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.first-header {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    min-width: 696px;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 0 30px;
    padding: 0 252px;
}

.services-icons,
.clients-icons {
    border-radius: 4px;
}

.services-icons {
    padding: 20px 100px;
    margin-bottom: 30px;
    background-color: #F5F4FA;  
}

.social-icons-item>a {
    justify-content: center;
    align-items: center;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    fill: #AFB1B8;
}

.social-icons {
    padding: 12px;
}

.social-link:hover,
.social-link:focus {
    background-color: var(--secondary-color);
    fill: #FFF;
}

.social-icons-list {
    padding: 0 32px 30px;
    justify-content: space-between;
}

.clients-link {
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: block;
    width: 170px;
    height: 98px;
    fill: #AFB1B8;
}

.clients-link:hover,
:focus {
    fill: var(--secondary-color);
    border-color: var(--secondary-color);
}

.third-header-services {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    height: 16px;
    margin-top: 0;
    margin-bottom: 10px;
}

.third-header-portfolio,
.description-services-portfolio {
    padding-left: 24px;
    margin: 0;
    width: 322px;
}

.third-header-portfolio {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-transform: none;
    height: 36px;
    padding-top: 20px;
    margin-bottom: 4px;
}

.description-services {
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    margin: 0;
}

.description-services-portfolio {
    font-size: 16px;
    line-height: 1.875;
    padding-bottom: 20px;
}

/*END SOLUTIONS*/

/*WORK*/

.second-header {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    margin-top: 0;
}

.button-no-response:focus,
.button-no-response:hover,
.footer-theme,
.first-header,
.button-response,
.button-order-service {
    color: #FFFFFF;
}

.team-list>li {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.button-list,
.portfolio-list {
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 0;
    margin: 0;
}

.button-list {
    margin-bottom: 50px;
}

.button-list>li {
    padding: 0;
    margin: 0;
}

.button-list>li:not(:last-child) {
    margin-right: 8px;
}

.button-response,
.button-no-response {
    height: 38px;
}

.portfolio-list>li:hover,:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list {
    justify-content: space-between;
    padding-bottom: 94px;
}

.portfolio-list>li {
    border-bottom: 1px solid #EEEEEE;
}

.portfolio-list>li:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
}

.clients-list,
.services-list,
.team-list,
.work-list {
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.work {
    padding-bottom: 94px;
}

/*END WORK*/

/*TEAM*/

.team {
    background-color: #F5F4FA;
}

.third-header-team {
    font-weight: 500;
}

.third-header-team,
.description-team {
    font-size: 16px;
    line-height: 1.188;
    text-align: center;
    letter-spacing: 0.03em;
}

.description-team {
    margin-bottom: 16px;
}

/*END TEAM*/

/*FOOTER*/

.footer {
    display: flex;
    padding-top: 60px;
    justify-content: flex-start;
}

.right-side>ul {
    padding-left: 0;
    margin: 0;
}

.footer-header {
    margin: 0;
    padding-bottom: 20px;
    padding-top: 12px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.dark-bg {
    background-color:  rgba(255, 255, 255, 0.1);
    margin-right: 10px;
}

.left-side {
    margin-right: 38px;
}

.address-link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.174;
    letter-spacing: 0.03em;
}

.address-list>li:not(:first-child) {
    padding-top: 9px;
}

.address-list {
    display: block;
    padding-top: 20px;
    margin: 0;
    padding-bottom: 60px;
    padding-left: 0;
}

/*END FOOTER*/
