:root {
    --main-font: 'Roboto', sans-serif;
    --main-color-font: #757575;
    --main-color: #E5E5E5;
    --secondary-color: #2196f3;  
}

body {
    font-family: var(--main-font);
    color: var(--main-color-font);
    background-color: var(--main-color);
    display: block;
    width: 1200px;
    margin: 0;
}



.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container {
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1200px;
    justify-content: center;

}

/*HEADER*/

.pages,
.button-list,
.portfolio-list,
.services-list,
.work-list,
.team-list,
.address-list {
    list-style: none;
    display: flex;
}

.main-header,
.portfolio-list>li {
    background-color: #FFF;
}

.main-header {
    display: flex;
    border-bottom: 1px solid #ECECEC;
}

.navigation {
    min-width: auto;
    display: flex;
}

.phone-mail {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    min-width: auto;
}

.mail-address {
    margin: 0;
    margin-right: 40px;
    margin-left: auto;
    padding: 32px 0;
}

.phone-number {
    padding: 32px 27px 32px 0;
}

.pages {
    text-align: center;
    padding: 32px 0;
    margin: 0;
    margin-right: auto;
}

.pages-item-agency-nd,
.pages-item-agency {
    margin-right: 46px;
}

.pages-item-portfolio-nd,
.pages-item-portfolio {
    margin-right: 64px;
}

.solutions-header{
    padding-top: 200px;
    padding-bottom: 200px;
}

.button-order-service {
    width: 200px;
    align-self: flex-end;
    justify-self: center;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 41px;
    display: flex;
}

.third-header-services,
.description-services {
    width: 270px;
}

.link {
    text-decoration: none;
}

.logo-link {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #212121;
  padding: 24px 0 25px;
  margin-right: 93px;
}


.phone-number,
.mail-address {
  
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--main-color-font);
}

.logo-link-web,
.pages-item-portfolio-nd,
.pages-item-agency,
.pages-item-agency-nd:hover,
.pages-item-agency-nd:focus,
.pages-item-portfolio:hover,
.pages-item-portfolio:focus,
.pages-item-contact:hover,
.pages-item-contact:focus,
.phone-number:hover,
.phone-number:focus,
.mail-address:hover,
.mail-address:focus {
  color: var(--secondary-color)
}

.button-no-response:hover,
.button-no-response:focus,
.button-response,
.button-order-service,
.button-order-service:active,
.button-order-service:hover,
.button-order-service:focus {
    background-color: var(--secondary-color);
    cursor: pointer;
}

.phone-number,
.mail-address {
  color: #757575;
}

/*END HEADER*/

/*SOLUTIONS*/

.footer,
.solutions-header {
    background-color: #2F303A;;
}

.footer-themes {
    color: rgba(255, 255, 255, 0.6);
    width: 231px;
}

.button-response,
.button-no-response,
.button-order-service {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    border-width: 0;
    border-radius: 4px;
}

.button-no-response {
    background-color: #F5F4FA;
    color: #212121;
}

.button-response,
.button-no-response {
    font-weight: 500;
    line-height: 1.625;
    letter-spacing: 0.03em;
}

.first-header {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    min-width: 696px;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 0 30px;
    padding: 0 252px;
}

.third-header-services {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    height: 16px;
}

.third-header-portfolio,
.description-services-portfolio {
    padding-left: 24px;
    margin: 0;
    width: 322px;
}

.third-header-portfolio {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-transform: none;
    height: 36px;
    padding-top: 20px;
    margin-bottom: 4px;
}

.description-services {
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
}

.description-services-portfolio {
    font-size: 16px;
    line-height: 1.875;
    padding-bottom: 20px;
}

/*END SOLUTIONS*/

/*WORK*/

.second-header {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    margin-top: 0;
}

.button-no-response:focus,
.button-no-response:hover,
.footer-theme,
.first-header,
.button-response,
.button-order-service {
    color: #FFFFFF;
}

.team-list>li {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.button-list,
.portfolio-list {
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 0;
    margin: 0;
}

.button-list {
    margin-bottom: 50px;
}

.button-list>li {
    padding: 0;
    margin: 0;
}

.button-list>li:not(:last-child) {
    margin-right: 8px;
}

.button-response,
.button-no-response {
    height: 38px;
}



.portfolio-list {
    justify-content: space-between;
    padding-bottom: 94px;
}

.portfolio-list>li {
    border-bottom: 1px solid #EEEEEE;
}

.portfolio-list>li:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
}

.services-list,
.team-list,
.work-list {
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.work,
.team {
    padding-bottom: 94px;
}

/*END WORK*/

/*TEAM*/

.team {
    background-color: #F5F4FA;
}

.third-header-team {
    font-weight: 500;
}

.third-header-team,
.description-team {
    font-size: 16px;
    line-height: 1.188;
    text-align: center;
    letter-spacing: 0.03em;
}

/*END TEAM*/

/*FOOTER*/

.footer {
    padding-top: 60px;
}

.address-link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.174;
    letter-spacing: 0.03em;
}

.address-list>li:not(:first-child) {
    padding-top: 9px;
}

.address-list {
    display: block;
    padding-top: 20px;
    margin: 0;
    padding-bottom: 60px;
    padding-left: 0;
}

/*END FOOTER*/
