.portfolio {
  &__button-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 0;
    margin: 0;
    margin-bottom: 50px;
  }
  &__item {
    padding: 0;
    margin: 0;

    &:not(:last-child) {
      margin-right: 8px;
    }
  }
  &__button-response {
    font-weight: 500;
    line-height: 1.625;
    letter-spacing: 0.03em;
    font-size: 16px;
    height: 38px;
    border-width: 0;
    border-radius: 4px;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: getColor('secondary');
    color: getColor('main');

    &:focus,
    &:hover {
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
  &__button-no-response {
    font-weight: 500;
    line-height: 1.625;
    letter-spacing: 0.03em;
    background-color: #f5f4fa;
    color: #212121;
    font-size: 16px;
    border-width: 0;
    border-radius: 4px;
    height: 38px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
      color: getColor('main');
      background-color: getColor('secondary');
      cursor: pointer;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
}