.footer {
  padding-top: 60px;
  justify-content: flex-start;
  background-color: #2f303a;

  &__composition {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &__address {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    margin: 0;
    padding-bottom: 60px;
    padding-left: 0;
    margin-top: -9px;
    &--menu-style {
      padding-bottom: 64px;
      display: block;
    }
  }
  &__item {
    margin-top: 9px;
    &--menu-style {
      padding-top: 23px;
    }
  }
  &__firm-address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.174;
    letter-spacing: 0.03em;
    color: getColor("main");
  }
  &__mail {
    font-style: normal;
    font-size: 14px;
    line-height: 1.174;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    width: 231px;
    &--menu-style {
      font-weight: 500;
      font-size: 24px;
      line-height: 1.167;
      letter-spacing: 0.02em;
      color: getColor('font');
    }
  }
  &__phone {
    font-style: normal;
    font-size: 14px;
    line-height: 1.174;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    width: 231px;
    &--menu-style {
      font-weight: 500;
      font-size: 34px;
      line-height: 1.176;
      letter-spacing: 0.02em;
      color: getColor('secondary')
    }
  }
  &__newsletter {
    width: 100%;
  }
  &__header {
    margin: 0;
    padding-bottom: 20px;
    padding-top: 0;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
    color: getColor("main");
  }
  &__social-list {
    padding: 0 0px 60px;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    margin: 0;
  }
  &__sign-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }
  &__input {
    width: 100%;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    padding-left: 16px;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.6);
    background-color: transparent;
  }
  &__button {
    padding-left: 42px;
    padding-right: 28px;
    justify-content: space-between;
  }
}
.icon-send {
  fill: getColor("main");
}
@media screen and (min-width: 768px) {
  .footer {
    &__composition {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items:baseline
    }
    &__input {
      max-width: 450px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    &__composition {
      flex-wrap: nowrap;
      justify-content: center;
    }
    &__address {
      display: block;
      margin-right: 70px;
    }
    &__list {
      align-items: flex-start;
    }
    &__newsletter {
      width: auto;
    }
    &__header {
      text-align: left;
    }
    &__social-list {
      margin-right: 38px;
    }
    &__sign-up {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      margin-bottom: 0;
    }
    &__input {
      width: 358px;
      margin: 0;
      margin-right: 12px;
    }
  }
}

// .footer {
//   padding-top: 60px;
//   justify-content: flex-start;
//   background-color: #2f303a;

//   &__composition {
//     display: flex;
//     justify-content: flex-start;
//   }
//   &__address {
//     margin-right: 38px;
//   }
//   &__list {
//     display: block;
//     padding-top: 20px;
//     margin: 0;
//     padding-bottom: 60px;
//     padding-left: 0;
//   }
//   &__item:not(:first-child) {
//     padding-top: 9px;
//   }
//   &__firm-address {
//     font-style: normal;
//     font-size: 14px;
//     line-height: 1.174;
//     letter-spacing: 0.03em;
//     color: getColor("main");
//   }
//   &__mail {
//     font-style: normal;
//     font-size: 14px;
//     line-height: 1.174;
//     letter-spacing: 0.03em;
//     color: rgba(255, 255, 255, 0.6);
//     width: 231px;
//   }
//   &__phone {
//     font-style: normal;
//     font-size: 14px;
//     line-height: 1.174;
//     letter-spacing: 0.03em;
//     color: rgba(255, 255, 255, 0.6);
//     width: 231px;
//   }
//   &__header {
//     margin: 0;
//     padding-bottom: 20px;
//     padding-top: 12px;
//     font-weight: bold;
//     font-size: 14px;
//     line-height: 1.143;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;
//     color: getColor("main");
//   }
//   &__social-list {
//     padding: 0 32px 30px;
//     justify-content: space-between;
//     display: flex;
//     padding-left: 0;
//     margin: 0;
//   }
//   &__sign-up {
//     display: flex;
//   }
//   &__input {
//     width: 358px;
//     height: 50px;
//     border: 1px solid rgba(255, 255, 255, 0.3);
//     border-radius: 4px;
//     font-size: 16px;
//     line-height: 1.25;
//     letter-spacing: 0.03em;
//     padding-left: 16px;
//     margin-right: 12px;
//     color: rgba(255, 255, 255, 0.6);
//     background-color: transparent;
//   }
//   &__button {
//     padding-left: 42px;
//     padding-right: 28px;
//     justify-content: space-between;
//   }
// }
// .icon-send {
//   fill: getColor("main");
// }
