.header {
  border-bottom: 1px solid #ececec;
  height: 80px;
  background-color: getColor('main');

  &__navigation {
    min-width: auto;
    display: flex;
  }
  &__sites {
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-right: auto;
    
    display: flex;
  }
  &__page {
    position: relative;
    height: 80px;
    padding: 34px 0;
  }
  &__agency {
    margin-right: 46px;
    text-align: center;
    color: getColor('secondary');
    fill: getColor('secondary');
  
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 58px;
      height: 4px;
      background-color: getColor('secondary');
    }
  }
  &__portfolio {
    margin-right: 64px;
    text-align: center;
    color: #212121;
  
    &:hover,
    &:focus {
      color: getColor('secondary');
      fill: getColor('secondary');
    }
  }
  &__contact {
    text-align: center;
    color: #212121;
  
    &:hover,
    &:focus {
      color: getColor('secondary');
      fill: getColor('secondary');
    }
  }
  &__phone-mail {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
  }
  &__phone-mail-item {
    height: 16px;
  }
  &__mail {
    display: flex;
    height: 16px;
    margin: 0;
    margin-right: 40px;
    margin-left: auto;
    padding: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: getColor('font');
    fill: getColor('font');
  
    &:hover,
    &:focus {
      color: getColor('secondary');
      fill: getColor('secondary');
    }
  }
  &__envelope {
    height: 16px;
    margin-top: 0px;
    margin-right: 10px;
  }
  &__phone {
    display: flex;
    text-align: center;
    padding: 0 27px 0 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: getColor('font');
    fill: getColor('font');
  
    &:hover,
    &:focus {
      color: getColor('secondary');
      fill: getColor('secondary');
    }
  }
  &__smartphone {
    height: 16px;
    margin-top: 0px;
    margin-right: 10px;
  }
}