.header__agency--portfolio-style {
  margin-right: 46px;
  color: #212121;

  &::after {
    visibility: hidden;
  }
  &:hover,
  &:focus {
    color: getColor('secondary');
    fill: getColor('secondary');
  }
}
.header__portfolio--portfolio-style {
  margin-right: 64px;
  color: getColor('secondary');
  fill: getColor('secondary');

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 62px;
    height: 4px;
    background-color: getColor('secondary');
  }
}