.header__agency--portfolio-style {
  margin-right: 46px;
  color: #212121;

  &::after {
    visibility: hidden;
  }
  &:hover {
    color: var(--secondary-color);
    fill: var(--secondary-color);
  }
  &:focus {
    color: var(--secondary-color);
    fill: var(--secondary-color);
  }
}
.header__portfolio--portfolio-style {
  margin-right: 64px;
  color: var(--secondary-color);
  fill: var(--secondary-color);

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 62px;
    height: 4px;
    background-color: var(--secondary-color);
  }
}