.work {
  padding-bottom: 94px;

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  &__images {
    position: relative;
  }
  &__subtitles {
    position: absolute;
    bottom: 0;
    width: 370px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(47, 48, 58, 0.8);
  }
  &__header {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: getColor('main');
  }
}
@media screen and(min-width: 1200px) {
  .work {
    padding-bottom: 94px;

    &__list {
      flex-direction: row;
      display: flex;
      justify-content: space-between;
      padding: 0;
      margin: 0;
    }
    &__images {
      position: relative;
    }
    &__subtitles {
      position: absolute;
      bottom: 0;
      width: 370px;
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(47, 48, 58, 0.8);
    }
    &__header {
      font-weight: bold;
      font-size: 14px;
      line-height: 1.143;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: getColor('main');
    }
  }
}