.header__logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  padding: 24px 0 25px;
  margin-right: 93px;
  color: #212121;
  
  &--dark-theme {
  color: #fff;
  margin: 0;
  padding: 0;
  }
}
.logo-web {
  color: getColor('secondary');
  fill: getColor('secondary');
}