.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: #fff;
  padding: 40px;
  padding-bottom: 0;
  &--full-screen {
    width: 100vw;
    height: 100vh;
    position: fixed;
  }
  &__cls-button {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 0;
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &--no-border {
      border: none;
    }
  }
  &__cls-icon {
    border-radius: 50%;
  }
}
@media screen and (min-width: 768px) {
  .modal--full-screen {
    display: none;
  }
}