.social-icons {
  padding: 0 32px 30px;
  justify-content: space-between;
   
  display: flex;
  margin: 0;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover,
    &:focus {
      background-color: var(--secondary-color);
      fill: #fff;
    }
    &--dark-bg {
    background-color: rgba(255, 255, 255, 0.1);
    margin-right: 10px;
    }
  }
  &__icon {
    padding: 12px;
  }
}