.work {
  padding-bottom: 94px;
}
.work__list {
   
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.work__images {
  position: relative;
}
.work__subtitles {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
}
.work__header {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}